  <mat-card class="main-div container m-0 text-center">
  <div class="alert alert-danger w-100" *ngIf="!individu" role="alert">
   {{WORDING.problem}}
  </div>
  <div class="w-100 mx-auto" *ngIf="individu">

    <img class="roundedImage" [src]="individu.user_image | individuPicPipe" alt="1">

    <div class="row d-flex justify-content-start mt-5 mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.lastName}} :</span>
      <span class="w-50 text-lg-left">{{individu.nom}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.firstName}} :</span>
      <span class="w-50 text-lg-left">{{individu.prenom}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.bornDate}} :</span>
      <span class="w-50 text-lg-left">{{individu.date_naissance}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">E-mail :</span>
      <span class="w-50 text-lg-left">{{individu.email}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.tel}} :</span>
      <span class="w-50 text-lg-left">{{individu.numeroTel}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.address}} :</span>
      <span class="w-50 text-lg-left">{{individu.adresse}}, {{individu.cite}}, {{individu.ville}}, {{individu.gouvernorat}}, {{individu.code_postale}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.level}} :</span>
      <span class="w-50 text-lg-left">{{individu.niveau}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu.attributs.status}} :</span>
      <span class="w-50 text-lg-left">{{individu.status}}</span>
    </div>

    <div class="row d-flex justify-content-start mb-4 w-100">
      <span class="w-50 text-lg-left">{{WORDING.individu_account.sous_date}} :</span>
      <span class="w-50 text-lg-left">{{individu.date_ceation}}</span>
    </div>
  </div>
</mat-card>
