<h1 mat-dialog-title  *ngIf="dialogInfo.titre">{{dialogInfo.titre}}</h1>
<div mat-dialog-content class="mt-3" >
  <p class="text-center" [ngStyle]="{'color': findTextColorFromDialogType(dialogInfo.dialogType)}"
     [innerHTML]="dialogInfo.message1"></p>
  <p class="text-center" [ngStyle]="{'color': findTextColorFromDialogType(dialogInfo.dialogType)}"
     [innerHTML]="dialogInfo.message2"></p>
</div>

<div mat-dialog-actions class="float-right mt-3">
  <button *ngIf="dialogInfo.noLbl" type="button" class="btn dialog-btn-return mx-3"
          (click)="onNoClick()">{{dialogInfo.noLbl}}</button>
  <button *ngIf="dialogInfo.okLbl" type="button" class="btn btn-success dialog-btn-succes"
          (click)="ok()">{{dialogInfo.okLbl}}</button>
</div>
