<h1 mat-dialog-title  *ngIf="dialogInfo.titre">{{dialogInfo.titre}}</h1>
<div mat-dialog-content class="mt-3" >
  <p class="text-center" [ngStyle]="{'color': findTextColorFromDialogType(dialogInfo.dialogType)}"
     [innerHTML]="dialogInfo.message1"></p>
  <p class="text-center" [ngStyle]="{'color': findTextColorFromDialogType(dialogInfo.dialogType)}"
     [innerHTML]="dialogInfo.message2"></p>
</div>

<div mat-dialog-actions class="float-right mt-3">
  <button *ngIf="dialogInfo.noLbl" class="mx-3" mat-button color="accent"
          (click)="onNoClick()">{{dialogInfo.noLbl}}</button>
  <button *ngIf="dialogInfo.okLbl" mat-button color="primary"
          (click)="ok()">{{dialogInfo.okLbl}}</button>
</div>
