<div class="main-div bg">
  <mat-card class="container login-container text-center m-5">
    <h5 class=" mb-5 text-center text-capitalize title"><span>{{WORDING.login.title}}</span></h5>
    <div class="alert alert-danger w-100" *ngIf="displayLoginErrorMsg" role="alert">
      {{WORDING.login.error1}}
    </div>
    <div class="alert alert-danger w-100" *ngIf="isUserDesabledErrorMsg" role="alert">
      {{WORDING.login.error2}}
    </div>
    <div class="w-75 mx-auto">
      <mat-form-field floatLabel="never" class=" mb-5 w-100">
        <input type="text" matInput placeholder="{{WORDING.login.userName}}" [(ngModel)]="user.login" required>
        <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
         {{WORDING.login.mondatory}}
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" class=" w-100">
        <input type="password" matInput placeholder="{{WORDING.login.pwd}}" [(ngModel)]="user.password" required
               name="password">
        <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
          {{WORDING.login.mondatory}}
        </mat-error>
      </mat-form-field>
      <mat-checkbox class="mb-5 float-left">{{WORDING.login.remember_me}}</mat-checkbox>

      <div class=" mb-5 w-100">
        <button class="btn btn-success w-100" type="submit" title="{{WORDING.login.confirm}}" (click)="login()">{{WORDING.login.confirm}}</button>
      </div>
      <div>
        <span class="w-100">{{WORDING.login.signUp_msg}} <a routerLink="/create">{{WORDING.login.signUp}}</a></span></div>
      <div class="w-100"><a href="#">{{WORDING.login.forgot_pwd}}</a></div>
    </div>
    <div>
    </div>

  </mat-card>
</div>
