<mat-toolbar layout="row" color="primary" class="fixed-top">

  <a (click)="drawer.toggle()">
    <i class="material-icons burger">chat</i>
  </a>
  <a routerLink="/" class="align-middle logo">MONSTER</a>
  <div class="toolbar-menu-right">
    <a class="menu-btn" title="Accueil" routerLink="/"><span>Accueil</span></a>
    <a class="menu-btn" title="Liste des produits" routerLink="/"><span>Produits</span></a>
    <a class="menu-btn" title="Liste des utilisateurs" *ngIf="role =='ADMIN'"
       routerLink="/users"><span>Users</span></a>

    <a id="mainNav" [matMenuTriggerFor]="menu"><a><span class="mr-2">Bonjour {{retrieveDisplayedUserName()}}</span></a>
      <img class="roundedImage" [src]="retrieveUserPic()"/></a>
    <mat-menu #menu="matMenu" yPosition="below" class="providers-menu">
      <a mat-menu-item><i class="material-icons align-middle">storefront</i><span class="ml-2">Mes commandes</span></a>
      <a mat-menu-item routerLink="/account"><i class="material-icons align-middle">person</i><span class="ml-2">Mon compte</span></a>
      <a mat-menu-item><i class="material-icons align-middle">language</i><span class="ml-2">Langage</span></a>
      <a mat-menu-item routerLink="/login" (click)="logout()"><i class="material-icons align-middle">logout</i><span
        class="ml-2">Déconnexion</span></a>
      <a mat-menu-item><i class="material-icons align-middle">help</i><span class="ml-2">Aide</span></a>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-drawer #drawer class="example-sidenav">
  <a (click)="drawer.toggle()">
    <i class="material-icons close">close</i>
  </a>
</mat-drawer>
