<div class="main-div">

  <mat-card class="container mx-4 text-center">
    <div class=" border d-sm-flex d-flex align-items-start flex-column bd-highlight mb-3 p-1 col-12">
      <form class="w-100" name="form2" #createGroupForm="ngForm">
        <div *ngIf="displayAddForm">
          <mat-form-field floatLabel="never" class="row m-4 w-75">
            <input type="text" matInput placeholder="{{WORDING.business.group.name}}"
                   [(ngModel)]="businessGroup.name" required
                   name="name">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <span [innerHTML]="WORDING.individu_account.mondatory"></span>
            </mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="never" class="row m-4 w-75">
            <input type="text" matInput placeholder="{{WORDING.business.group.description}}"
                   [(ngModel)]="businessGroup.description" required
                   name="description">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <span [innerHTML]="WORDING.individu_account.mondatory"></span>
            </mat-error>
          </mat-form-field>

          <div class="mt-5 mb-5 w-100">
            <button type="button" class="btn btn-primary float-right" [disabled]="!createGroupForm.form.valid"
                    title="{{WORDING.business.group.add}}"
                    (click)="addGroup()">{{WORDING.business.group.add}}</button>

            <button type="button" class="btn btn-info float-right mx-2" (click)="cancel()"
                    title="{{WORDING.business.group.cancel}}">{{WORDING.business.group.cancel}}</button>
          </div>

        </div>
        <div *ngIf="!displayAddForm">
          <button (click)="displayAddBusinessGroup()" mat-button color="primary" class="float-right" type="submit"
                  title="{{WORDING.business.group.add}}">
            <mat-icon>add</mat-icon>
            {{WORDING.business.group.add}}
          </button>
          <div *ngIf="dataSource.data.length>0">
            <mat-form-field class="float-left">
              <input matInput (keyup)="applyFilter($event.target.value)"
                     placeholder="{{WORDING.business.group.search}}">
            </mat-form-field>
            <table class="w-100" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="idBusiness">
                <th mat-header-cell class="d-none d-md-table-cell text-center"
                    *matHeaderCellDef>{{WORDING.business.group.id}}</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell class="d-none d-md-table-cell text-center"
                    *matHeaderCellDef>{{WORDING.business.group.name}}</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell class="d-none d-md-table-cell text-center"
                    *matHeaderCellDef>{{WORDING.business.group.description}}</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="active">
                <th mat-header-cell class="d-none d-md-table-cell text-center"
                    *matHeaderCellDef>{{WORDING.business.group.status}}</th>
                <td mat-cell *matCellDef="let element"
                    [class.accent-color]="!element.active"
                    [class.primary-color]="element.active"
                ><span>{{findBSStatus(element.active)}}</span></td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell class="d-none d-md-table-cell text-center" *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn float-right"
                          [class.accent-color]="element.active"
                          [class.primary-color]="!element.active"
                          (click)="doAction(element)">{{getButtonName(element.active)}}</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="update">
                <th mat-header-cell class="d-none d-md-table-cell text-center" *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-warning"
                          (click)="doUpdate(element)">Update</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
        <div *ngIf="dataSource.data.length == 0 && !displayAddForm" class="w-100 text-center">
          <span>{{WORDING.business.group.no_group}}</span>
        </div>
      </form>
    </div>
  </mat-card>
</div>
