<div class="main-div">
  <mat-card class="container m-5 text-center">
    <form name="form" #updatePwdForm="ngForm">
      <h2 class="card-title mb-5">Update password</h2>
      <div class="w-50 mx-auto">

        <!-- old password -->
        <mat-form-field floatLabel="never" class="row mb-5 w-100">
          <input type="password" matInput placeholder="{{WORDING.password_update.old_password}}"
                 [(ngModel)]="oldPassword"
                 required minlength="8"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                 name="pwdOld">
          <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
            <span [innerHTML]="WORDING.individu_create.pw_regex"></span>
          </mat-error>
        </mat-form-field>

        <!-- New Password -->
        <mat-form-field floatLabel="never" class="row mb-5 w-100">
          <input type="password" matInput placeholder="{{WORDING.password_update.new_password}}" [(ngModel)]="password"
                 required minlength="8"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                 name="pwd">
          <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
            <span [innerHTML]="WORDING.individu_create.pw_regex"></span>
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="row mb-1 w-100">
          <input type="password" matInput placeholder="{{WORDING.password_update.new_password_confirm}}"
                 [(ngModel)]="passwordConfirmation" required
                 minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                 name="pwdConfirm">
          <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
            <span [innerHTML]="WORDING.individu_create.pw_regex"></span>
          </mat-error>
        </mat-form-field>
        <div *ngIf="!isConformPwd()" class=" text-danger mb-5" role="alert">
          <span [innerHTML]="WORDING.individu_create.pw_identique"></span>
        </div>

        <div class=" mt-5 mb-5 w-100">
          <button mat-button color="primary" class="float-right" [disabled]="!updatePwdForm.form.valid || !isConformPwd()" type="submit"
                  title="{{WORDING.individu_create.create_btn}}"
                  (click)="updatePwd()">{{WORDING.dialog.button.confirm}}</button>
          <button mat-button color="accent" class="float-right mr-2" routerLink="/" title="{{WORDING.dialog.button.close}}" >{{WORDING.dialog.button.close}}</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
