<app-header-info (changeLanguageEvent)="updateWordingLanguage($event)"></app-header-info>
<div class="main-div">
  <mat-card *ngIf="individu" class="container m-4 text-center">
    <h2 class="card-title mb-4"></h2>
    <div class="alert alert-danger w-100" *ngIf="displayErrorMsg" role="alert">
      {{WORDING.problem}}
    </div>

    <br>
    <div class=" p-3">
      <div class=" border d-sm-flex justify-content-center p-3 col-lg-6 col-12" >
        <div class=" w-50">
          <a (click)="prepareclickedPic()" title="select your picture"> <img class="roundedImage"
                                                                             [src]="user_image | safeImage" alt="1"/>
          </a>
          <input id="imgupload" type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg"
                 style="display:none"/>
          <div><span class="alert-danger" *ngIf="displayMaxSizeImage"
                     [innerHTML]="WORDING.individu.attributs.img_max_size_msg"> </span></div>

          <div class="d-flex justify-content-center w-100">
            <img class="startSize" *ngIf="individu.niveau > 1" [src]="star"/>
            <img class="startSize" *ngIf="individu.niveau > 2" [src]="star"/>
            <img class="startSize" *ngIf="individu.niveau > 3" [src]="star"/>
          </div>
        </div>
        <div class=" w-50 ">
     <span
       class="mx-auto mt-5 text-capitalize"> {{WORDING.individu_account.sous_date}}
       : {{individu.date_ceation | date: 'dd/MM/yyyy'}}</span>
          <span
            class="mx-auto mt-1 text-capitalize"> {{WORDING.individu_account.last_connection_date}}
            : {{individu.lastConnexion | date: 'dd/MM/yyyy HH:mm:ss'}}</span>

          <div class="mt-3">
            <span class="text-danger"
                  *ngIf="individu.statut == 'attente'">{{WORDING.individu_account.account_status.waiting}}</span>
            <span class="text-info"
                  *ngIf="individu.statut == 'active'">{{WORDING.individu_account.account_status.active}}</span>
            <span class="text-danger"
                  *ngIf="individu.statut == 'bloque'">{{WORDING.individu_account.account_status.blocked}}</span>
            <span class="text-danger"
                  *ngIf="individu.statut == 'resilie'">{{WORDING.individu_account.account_status.canceled}}</span>
            <img class="verifiedImgSize " *ngIf="individu.statut == 'active' && individu.niveau > 2"
                 [src]="verifiedLogo"/>
          </div>
        </div>
      </div>
    </div>

    <div class="d-lg-flex justify-content-start p-4 w-100">
      <div class="border m-1" [ngClass]="'width_info'">
        <div class="block-info_header  mb-2"><span>{{WORDING.individu_account.informations_perso}}</span></div>
        <div class="p-3">
          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.individu.attributs.lastName}}">
            <input type="text" [disabled]="true" matInput placeholder="{{WORDING.individu.attributs.lastName}}"
                   [(ngModel)]="individu.nom" required>
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <strong>{{WORDING.individu_account.mondatory}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.individu.attributs.firstName}}">
            <input type="text" [disabled]="true" matInput placeholder="{{WORDING.individu.attributs.firstName}}"
                   [(ngModel)]="individu.prenom" required
                   name="prenom">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <strong>{{WORDING.individu_account.mondatory}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.individu.attributs.email}}">
            <input type="email" matInput [disabled]="true" placeholder="{{WORDING.individu.attributs.email}}"
                   [(ngModel)]="individu.email" required
                   name="email">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <strong>{{WORDING.individu_account.mondatory}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.individu.attributs.bornDate}}">
            <input type="date" [disabled]="true" matInput placeholder="{{WORDING.individu.attributs.bornDate}}"
                   [(ngModel)]="individu.date_naissance" required
                   name="dateNaissance">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <strong>{{WORDING.individu_account.mondatory}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.individu.attributs.tel}}">
            <input type="text" required matInput placeholder="{{WORDING.individu.attributs.tel}}"
                   [(ngModel)]="individu.numeroTel"
                   name="telephone">
            <mat-error class="text-danger" *ngIf="nameFormControl.hasError('required')">
              <strong>{{WORDING.individu_account.mondatory}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="border m-1" [ngClass]="'width_info'">
        <div class="block-info_header  mb-2">{{WORDING.address.title}}</div>
        <div class="p-3">
          <!-- adress -->
          <div><span class="alert-danger" *ngIf="displayAddressError"
                     [innerHTML]="WORDING.address.invalide_adr"> </span>
          </div>
          <div class="d-md-flex justify-content-start w-100 ">
            <mat-form-field floatLabel="never" class="mb-3 w-75" title="{{WORDING.address.gouvernorat}}">
              <mat-label>{{WORDING.address.gouvernorat}}</mat-label>
              <mat-select [(ngModel)]="selectedGouvernorat">
                <mat-option *ngFor="let town of gouvernorats" (click)="findAdressByGouvernorat(town.id)" [value]="town">
                  {{town.name}}
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field floatLabel="never" class="mb-3" title="{{WORDING.address.postal_code}}">
              <input type="text" matInput name="code" placeholder="{{WORDING.address.postal_code}}" [disabled]="true"
                     class="float-right text-center" [(ngModel)]="individu.code_postale"/>
            </mat-form-field>
          </div>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.address.ville}}">
            <mat-label>{{WORDING.address.ville}}</mat-label>
            <mat-select [(ngModel)]="individu.ville">
              <mat-option *ngFor="let ville of filtedVilles" (click)="findAdressByGouvernoratAndVille()"
                          [value]="ville">
                {{ville}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.address.city}}">
            <mat-label>{{WORDING.address.city}}</mat-label>
            <mat-select [(ngModel)]="individu.cite">
              <mat-option *ngFor="let city of filtedCity" (click)="findPostalCode()" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field floatLabel="never" class="row mb-3 w-100" title="{{WORDING.address.title}}">
            <input type="text" required matInput placeholder="{{WORDING.address.title}}" [(ngModel)]="individu.adresse"
                   name="Adresse">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="mb-5 w-100">
      <a routerLink="/" class="mr-3" mat-button color="accent">{{WORDING.dialog.button.return}}</a>
      <button mat-button color="primary" type="submit"
              (click)="updateIndividuAccountInformations()">{{WORDING.dialog.button.confirm}}</button>
    </div>
  </mat-card>
</div>


